
.contenedorChat
    width: 100%
    height: 100vh

.navInbox
    height: 10vh
    background-color: #212121

//zona de las imagenes cochinas

.imgCochinas
    height: 40vh
    background-color: #212121
    margin-top: -40vh
    display: none

.divCerrar
    background-color: transparent
    height: 6vh
    display: flex
    justify-content: center


.fa-times
    font-size: 25px 
    cursor: pointer

.centradito
    background-color: #212121
    width: 50px
    margin-top: -6vh
    +redondeado(15px 15px 0px 0px)


//zona de los mensajes

.divMensajes
    margin-top: 12vh

#divAux
    height: 100%
    padding-bottom: 5rem

.mnsjOtro
    background-color: #DEC9A1
    height: 100%
    width: 90vw
    margin: 20px 20px 20px 20px
    +redondeado(30px 30px 30px 0px)
    display: flex
    justify-content: flex-start
    align-items: center
   

.mnsjYo
    background-color: rgba(222,201,161,0.58)
    height: 100%
    width: 90vw
    margin: 20px 20px 20px 20px
    +redondeado(30px 30px 0px 30px)
    display: flex
    justify-content: flex-end
    align-items: center
    

.mensajeYO
    padding: 10px 10px 0px 10px

.mensajeEL
    padding: 10px 10px 0px 10px

.imagenYO
    height: 100px !important
    width: 100px !important
    

#myCanvas
    object-fit: cover
    object-position: center center

.imgFit
    object-fit: cover !important 
    object-position: center center !important//50% 0
    margin: 10px 10px 10px 10px
    cursor: pointer !important

.previewImg
    width: 100vw !important
    height: 100vh !important

.imagenEL
    //width: 100px !important
    height: 100px !important
    +redondeado(50px 30px 30px 0px)
    margin-bottom: 10px
    

.imgSala
    height: 60px
    width: 60px
    background-image: url("../img/rosas.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-color: black
    +redondeado(60px)

.imgChat
    height: 60px
    width: 60px
    background-image: url("../img/rosas.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-color: black
    +redondeado(60px)
    right: 0
    position: fixed
    margin-right: 10px

// Zona de escritura y carga de imagenes

.zonaEscribir
    background-color: #212121
    height: 10vh
    width: 100%
    position: fixed
    bottom: 0

.zonaInput
    display: flex
    align-items: center
    justify-content: center
    height: 10vh
    

.inputChat
    width: 95%
    +redondeado(15px)

.btnRedondo
    +redondeado(20px)
    background-color: #DEC9A1
    cursor: pointer
    margin-left: -35px
    height: 40px
    width: 40px
    display: flex
    align-items: center
    justify-content: center

.zonaRedondo
    display: flex
    align-items: center
    justify-content: center
    

.fa-paper-plane
    color: white
    font-size: 20px
    margin-left: -2px

.fa-images
    z-index: 99
    color: #DEC9A1
    font-size: 20px
    position: absolute
    cursor: pointer
    margin-left: 35%

#cuadro1
    height: 8rem
    width: 8rem
    object-fit: cover !important
    object-position: center center !important
    margin: 0rem 1rem 1rem 1rem

#cuadro2
    height: 8rem
    width: 8rem
    object-fit: cover !important
    object-position: center center !important
    margin: 0rem 1rem 1rem 1rem

#cuadro3
    height: 8rem
    width: 8rem
    object-fit: cover !important
    object-position: center center !important
    margin: 0rem 1rem 1rem 1rem

#cuadro4
    height: 8rem
    width: 8rem
    object-fit: cover !important
    object-position: center center !important
    margin: 0rem 1rem 1rem 1rem

#cuadro5
    height: 8rem
    width: 8rem
    object-fit: cover !important
    object-position: center center !important
    margin: 0rem 1rem 1rem 1rem

.scrollZone
    width: 100%
    height: 90%
    display: flex
    flex-direction: row

.xBorrar
    padding-top: 5px !important
    font-size: 30px !important
    margin-left: -3px !important
    margin-bottom: 5px !important
    color: red !important

.posX
    height: 100%
    //background-color: yellow
    display: flex
    justify-content: center

.seccCochinada
    display: flex
    flex-direction: column
    justify-content: center
  


#pos1
    //background-color: red
    width: 81%
    margin-left: 1rem
    //margin-top: -5px


#pos2
    margin-top: -1.5rem !important

.enviarCochinada
    width: 80%
    color: $dorado
    background-color: transparent


   