
body
    overflow-x: hidden    
//vista del home
.contenedorHome
    height: 100vh
    width: 100vw

// div del boton del acceso de administracion

.divAcceso
    background-color: #212121
    width: 100vw
    margin-left: -1rem
    display: flex
    justify-content: center
    align-content: center

.miniLogo
    height: 2rem
    margin-top: 2px
    margin-bottom: 2px


//Slide de promos
.slidePromo
    height: 50vh
    //background-image: url("../img/promo1.jpg")
    //background-size: 100% auto 
    //background-repeat: no-repeat
    //background-position: center
    //background-color: black

#linkReservar
    text-decoration: none !important

#linkSwipe
    text-decoration: none !important

.btnComentarios
    +btnClaro(20px,white,#DEC9A1,white,black)
    width: 10rem !important
    margin-bottom: 20px

.divVideo
    height: 100%
    width: 100vw
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.btnsHome
    display: flex
    flex-direction: row
    justify-content: space-between

.menosRedondo
    +redondeado(7px !important)

#margini
    margin-right: 2rem

.btnCustom
    width: 100% !important

#video_background 
    position: absolute
    bottom: 0px
    right: 0px
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    z-index: -1000
    overflow: hidden

#video_pattern 
    background: #fff
    position: fixed
    opacity: 0.8
    left: 0px
    top: 0px
    width: 100%
    height: 100%
    z-index: 1


//slide de reservaciones
.slideReservar
    height: 50vh
    background-image: url("../img/vasos.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-color: black

.tituloHome
    color: white
    padding: 5px

.pHome
    color: white
    padding: 5px
    
//Slide de swipe
.slideSwipe
    height: 50vh
    background-image: url("../img/vasos2.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-color: black
    
.fa-arrow-circle-right
    position: absolute
    bottom: 0

.fa-arrow-circle-left
    position: absolute
    bottom: 0


//Actualizacion de proximamente

.proxSwipe
    height: 50vh
    background-color: black
    display: flex
    flex-direction: column
    justify-content: center

.centrarCosito
    width: 40vw
    display: flex
    justify-content: center

.lds-grid 
    display: inline-block
    position: relative
    width: 64px
    height: 64px

.lds-grid div 
    position: absolute
    width: 13px
    height: 13px
    border-radius: 50%
    background: #DEC9A1
    animation: lds-grid 1.2s linear infinite
    

.lds-grid div:nth-child(1) 
    top: 6px
    left: 6px
    animation-delay: 0s

.lds-grid div:nth-child(2) 
    top: 6px
    left: 26px
    animation-delay: -0.4s

.lds-grid div:nth-child(3) 
    top: 6px
    left: 45px
    animation-delay: -0.8s

.lds-grid div:nth-child(4) 
    top: 26px
    left: 6px
    animation-delay: -0.4s

.lds-grid div:nth-child(5) 
    top: 26px
    left: 26px
    animation-delay: -0.8s

.lds-grid div:nth-child(6) 
    top: 26px
    left: 45px
    animation-delay: -1.2s

.lds-grid div:nth-child(7) 
    top: 45px
    left: 6px
    animation-delay: -0.8s

.lds-grid div:nth-child(8) 
    top: 45px
    left: 26px
    animation-delay: -1.2s

.lds-grid div:nth-child(9) 
    top: 45px
    left: 45px
    animation-delay: -1.6s

@keyframes lds-grid 
    0%, 100% 
        opacity: 1
  
    50% 
        opacity: 0.5
  



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px)
    .slidePromo
        background-size: cover
        
    

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
