

.contenedorInbox
    width: 100%
    height: 100vh

.navInbox
    height: 10vh
    background-color: #212121

.iconosInbox
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    
.cosito
    margin-left: 10px

.inputSearch
    height: 40px
    border: none
    +redondeado(18px 0px 0px 18px)

.inputSearchIcon
    background-color: white
    color: #DEC9A1
    height: 40px
    border: none
    +redondeado(0px 18px 18px 0px)

//zona de los mensajes

.divMensajes
    margin-top: 12vh

.sala
    background-color: rgba(33, 33, 33,0.80)
    height: 70px
    width: 80vw
    margin: 20px 20px 20px 20px
    +redondeado(30px 30px 30px 0px)
    padding: 5px

.sala:hover
    background-color: #212121

.imgSala
    height: 60px
    width: 60px
    background-image: url("../img/rosas.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-color: black
    +redondeado(60px)

.leNombre
    color: #DEC9A1

.leMensaje
    color: white


.loader,
.loader:before,
.loader:after 
    border-radius: 50%

.loader 
    color: #DEC9A1
    font-size: 11px
    text-indent: -99999em
    margin: 55px auto
    position: relative
    width: 10em
    height: 10em
    box-shadow: inset 0 0 0 1em
    -webkit-transform: translateZ(0)
    -ms-transform: translateZ(0)
    transform: translateZ(0)

.loader:before,
.loader:after 
    position: absolute
    content: ''

.loader:before 
    width: 5.2em
    height: 10.2em
    background: white
    border-radius: 10.2em 0 0 10.2em
    top: -0.1em
    left: -0.1em
    -webkit-transform-origin: 5.2em 5.1em
    transform-origin: 5.2em 5.1em
    -webkit-animation: load2 2s infinite ease 1.5s
    animation: load2 2s infinite ease 1.5s

.loader:after 
    width: 5.2em
    height: 10.2em
    background: white
    border-radius: 0 10.2em 10.2em 0
    top: -0.1em
    left: 5.1em
    -webkit-transform-origin: 0px 5.1em
    transform-origin: 0px 5.1em
    -webkit-animation: load2 2s infinite ease
    animation: load2 2s infinite ease

@-webkit-keyframes load2 
    0% 
        -webkit-transform: rotate(0deg)
        transform: rotate(0deg)
  
    100% 
        -webkit-transform: rotate(360deg)
        transform: rotate(360deg)
  

@keyframes load2 
    0% 
        -webkit-transform: rotate(0deg)
        transform: rotate(0deg)
  
    100% 
        -webkit-transform: rotate(360deg)
        transform: rotate(360deg)
  

