.formularioLogin
    width: 80vw
 
   
.contenedorFormulario
    display: flex
    justify-content: center
    flex-direction: column
    width: 100vw
    height: 100vh
    background-color: #212121
    color: white
    padding-top: 10vh

.inputOscuro
    +inputOscuro()
    margin-left: 1rem

.logoLogin
    height: 25vh
    margin-top: -5rem
    padding: 0rem 2rem 0rem 2rem !important
    

#buttonLogin
    margin-left: 5rem
    width: 10rem