
//contenedor del qr

.divEditar
    width: 100vw
    height: 100%


.fa-edit
    color: #DEC9A1
    font-size: 30px
    cursor: pointer
    margin: 1rem
    display: flex
    justify-content: flex-end

.contenedorQr
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 100%
    height: 100%
    

.imgQr
    height: 250px
    padding-top: 25px
    padding-bottom: 25px

hr
    height: 2px
    width: 90%

.flecQr
    text-align: center
    font-size: 12px

.borde
    border-left: 1px solid #E5E5E5

.listaQr
    text-align: left
    font-size: 12px
    padding: 0px 30px 0px 30px

//botones

.fa-angle-left
    color: black
    margin-left: -100px
    font-size: 20px

.fa-angle-right
    color: black
    margin-left: 100px
    font-size: 20px

.carousel-indicators li 
    background-color: black

.carousel-indicators .active
    background-color: #DEC9A1
    

.btnDescargar
    background-color: #DEC9A1
    color: white
    width: 250px
    

.btnShare
    width: 80px
    background-color: #DEC9A1

.fa-share
    font-size: 25px !important

.zonaBtn
    margin: 0px 5px 0px 5px
    
    
#listaInvitados
    margin-left: -2rem