
.reservarBack
    background-color: white
    width: 100%

.formReservar
    margin: 0px 10px 0px 10px

.btnReservar
    +btnClaro(20px,white,#DEC9A1,white,black)
    width: 200px

.inputsClaros
    +inputClaro()

.negro
    color: #707070

.dudas
    position: fixed
    top: 10px
    right: 30px
    color: #DEC9A1

.listaReservar
    font-size: 12px

.zonaBtnReservar
    width: 100%
    display: flex
    justify-content: center

.dudu
    margin-left: 50vw


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px)


    

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
.reservarBack
    margin-top: 10%


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
