.barra
    background-color: #212121 !important
    height: 100vh
    min-width: 10%
    position: fixed
    left: 0
    top: 0
    display: flex
    align-items: center
    justify-content: space-around
    flex-direction: column


.nav-link
    height: 100% !important
    width: 100% !important
    color: $dorado !important
    font-size: 3rem

.nav-link:hover
    transform: scale(2)

.active
    transform: scale(2)
    background-color: $dorado
    color: $grisOscuro !important

.activeMas
    transform: scale(2.2)
    background-color: $dorado
    color: $grisOscuro !important

.activeMenos
    transform: scale(1.8)
    background-color: $dorado
    color: $grisOscuro !important
   

.tooltip-dorado
    --balloon-color: #DEC9A1
    --balloon-font-size: 20px


   
