.configuracion
    background-color: #E1E1E1
    height: 100vh
    display: flex
    justify-content: center
    align-items: flex-start
    padding-top: 2rem
    

.zonaCuadro
    background-color: white
    width: 80vw
    height: 90vh
    display: flex
    +redondeado(20px)
    align-items: center
    flex-direction: column
   
.navConfiguracion
    width: 90%
    margin-top: 2rem

#nav-home-tab
    color: $grisOscuro
#nav-home-tab:focus
    background-color: $grisOscuro
    color: $dorado

#nav-profile-tab
    color: $grisOscuro

#nav-profile-tab:focus
    background-color: $grisOscuro
    color: $dorado

#nav-eventos-tab
    color: $grisOscuro

#nav-eventos-tab:focus
    background-color: $grisOscuro
    color: $dorado

#nav-diseno-tab
    color: $grisOscuro

#nav-diseno-tab:focus
    background-color: $grisOscuro
    color: $dorado

#nav-contact-tab
    color: $grisOscuro

#nav-contact-tab:focus
    background-color: $grisOscuro
    color: $dorado