@charset "UTF-8";
.formularioLogin {
  width: 80vw; }

.contenedorFormulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #212121;
  color: white;
  padding-top: 10vh; }

.inputOscuro {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.11);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: white;
  margin-left: 1rem; }

.logoLogin {
  height: 25vh;
  margin-top: -5rem;
  padding: 0rem 2rem 0rem 2rem !important; }

#buttonLogin {
  margin-left: 5rem;
  width: 10rem; }

.contenedorChat {
  width: 100%;
  height: 100vh; }

.navInbox {
  height: 10vh;
  background-color: #212121; }

.imgCochinas {
  height: 40vh;
  background-color: #212121;
  margin-top: -40vh;
  display: none; }

.divCerrar {
  background-color: transparent;
  height: 6vh;
  display: flex;
  justify-content: center; }

.fa-times {
  font-size: 25px;
  cursor: pointer; }

.centradito {
  background-color: #212121;
  width: 50px;
  margin-top: -6vh;
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px; }

.iconosChat {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center; }

.nombri {
  margin-left: 2rem; }

.divMensajes {
  margin-top: 12vh; }

#divAux {
  height: 100%;
  padding-bottom: 5rem; }

.mnsjOtro {
  background-color: #DEC9A1;
  height: 100%;
  width: 90vw;
  margin: 20px 20px 20px 20px;
  -webkit-border-radius: 30px 30px 30px 0px;
  -moz-border-radius: 30px 30px 30px 0px;
  border-radius: 30px 30px 30px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.mnsjYo {
  background-color: rgba(222, 201, 161, 0.58);
  height: 100%;
  width: 90vw;
  margin: 20px 20px 20px 20px;
  -webkit-border-radius: 30px 30px 0px 30px;
  -moz-border-radius: 30px 30px 0px 30px;
  border-radius: 30px 30px 0px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.mensajeYO {
  padding: 10px 10px 0px 10px; }

.mensajeEL {
  padding: 10px 10px 0px 10px; }

.imagenYO {
  height: 100px !important;
  width: 100px !important;
  -webkit-border-radius: 30px 30px 0px 30px;
  -moz-border-radius: 30px 30px 0px 30px;
  border-radius: 30px 30px 0px 30px; }

#myCanvas {
  object-fit: cover;
  object-position: center center; }

.imgFit {
  object-fit: cover !important;
  object-position: center center !important;
  margin: 10px 10px 10px 10px;
  cursor: pointer !important; }

.previewImg {
  width: 100% !important;
  height: 100% !important; }

.elModal {
  width: 100% !important;
  height: 100% !important; }

.imagenEL {
  height: 100px !important;
  -webkit-border-radius: 30px 30px 30px 0px;
  -moz-border-radius: 30px 30px 30px 0px;
  border-radius: 30px 30px 30px 0px;
  margin-bottom: 10px; }

.imgSala {
  height: 60px;
  width: 60px;
  background-image: url("../img/rosas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px; }

.imgChat {
  height: 60px;
  width: 60px;
  background-image: url("../img/rosas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  right: 0;
  position: fixed;
  margin-right: 10px; }

.imgBonito {
  height: 50px;
  width: 50px; }

.zonaEscribir {
  background-color: #212121;
  height: 12vh;
  width: 100%;
  position: fixed;
  bottom: 0; }

.zonaInput {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh; }

.inputChat {
  width: 95%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  height: 2.8rem !important; }

.btnRedondo {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #DEC9A1;
  cursor: pointer;
  margin-left: -35px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }

.zonaRedondo {
  display: flex;
  align-items: center;
  justify-content: center; }

.fa-paper-plane {
  color: white;
  font-size: 20px;
  margin-left: -2px; }

.fa-images {
  z-index: 99;
  color: #DEC9A1;
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  margin-left: 35%; }

#cuadro1 {
  height: 8rem;
  width: 8rem;
  object-fit: cover !important;
  object-position: center center !important;
  margin: 0rem 1rem 1rem 1rem; }

#cuadro2 {
  height: 8rem;
  width: 8rem;
  object-fit: cover !important;
  object-position: center center !important;
  margin: 0rem 1rem 1rem 1rem; }

#cuadro3 {
  height: 8rem;
  width: 8rem;
  object-fit: cover !important;
  object-position: center center !important;
  margin: 0rem 1rem 1rem 1rem; }

#cuadro4 {
  height: 8rem;
  width: 8rem;
  object-fit: cover !important;
  object-position: center center !important;
  margin: 0rem 1rem 1rem 1rem; }

#cuadro5 {
  height: 8rem;
  width: 8rem;
  object-fit: cover !important;
  object-position: center center !important;
  margin: 0rem 1rem 1rem 1rem; }

.scrollZone {
  width: 99vw;
  height: 15rem;
  display: flex;
  flex-direction: column;
  display: none; }

.xBorrar {
  font-size: 20px !important;
  margin-left: -3px !important;
  margin-bottom: 5px !important;
  color: red !important; }

.posX {
  height: 90%;
  display: flex;
  justify-content: center; }

.seccCochinada {
  display: flex;
  flex-direction: column;
  justify-content: center; }

#pos1 {
  width: 81%;
  margin-left: 2.5rem; }

#pos2 {
  margin-top: -1.5rem !important; }

.enviarCochinada {
  width: 34%;
  color: #DEC9A1;
  background-color: transparent; }

body {
  overflow-x: hidden; }

.contenedorHome {
  height: 100vh;
  width: 100vw; }

.divAcceso {
  background-color: #212121;
  width: 100vw;
  margin-left: -1rem;
  display: flex;
  justify-content: center;
  align-content: center; }

.miniLogo {
  height: 2rem;
  margin-top: 2px;
  margin-bottom: 2px; }

.slidePromo {
  height: 50vh; }

#linkReservar {
  text-decoration: none !important; }

#linkSwipe {
  text-decoration: none !important; }

.btnComentarios {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: white;
  background-color: #DEC9A1;
  font-size: 20px;
  border: 2px solid white;
  width: 10rem !important;
  margin-bottom: 20px; }
  .btnComentarios:hover {
    color: white;
    background-color: black;
    border: 2px solid white; }

.divVideo {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.btnsHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.menosRedondo {
  -webkit-border-radius: 7px !important;
  -moz-border-radius: 7px !important;
  border-radius: 7px !important; }

#margini {
  margin-right: 2rem; }

.btnCustom {
  width: 100% !important; }

#video_background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden; }

#video_pattern {
  background: #fff;
  position: fixed;
  opacity: 0.8;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1; }

.slideReservar {
  height: 50vh;
  background-image: url("../img/vasos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black; }

.tituloHome {
  color: white;
  padding: 5px; }

.pHome {
  color: white;
  padding: 5px; }

.slideSwipe {
  height: 50vh;
  background-image: url("../img/vasos2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black; }

.fa-arrow-circle-right {
  position: absolute;
  bottom: 0; }

.fa-arrow-circle-left {
  position: absolute;
  bottom: 0; }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .slidePromo {
    background-size: cover; } }
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.contenedorInbox {
  width: 100%;
  height: 100vh; }

.navInbox {
  height: 10vh;
  background-color: #212121; }

.iconosInbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

.cosito {
  margin-left: 10px; }

.inputSearch {
  height: 40px;
  border: none;
  -webkit-border-radius: 18px 0px 0px 18px;
  -moz-border-radius: 18px 0px 0px 18px;
  border-radius: 18px 0px 0px 18px; }

.inputSearchIcon {
  background-color: white;
  color: #DEC9A1;
  height: 40px;
  border: none;
  -webkit-border-radius: 0px 18px 18px 0px;
  -moz-border-radius: 0px 18px 18px 0px;
  border-radius: 0px 18px 18px 0px; }

.divMensajes {
  margin-top: 12vh; }

.sala {
  background-color: rgba(33, 33, 33, 0.8);
  height: 70px;
  width: 80vw;
  margin: 20px 20px 20px 20px;
  -webkit-border-radius: 30px 30px 30px 0px;
  -moz-border-radius: 30px 30px 30px 0px;
  border-radius: 30px 30px 30px 0px;
  padding: 5px; }

.sala:hover {
  background-color: #212121; }

.imgSala {
  height: 60px;
  width: 60px;
  background-image: url("../img/rosas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px; }

.leNombre {
  color: #DEC9A1; }

.leMensaje {
  color: white; }

.loader,
.loader:before,
.loader:after {
  border-radius: 50%; }

.loader {
  color: #DEC9A1;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.loader:before,
.loader:after {
  position: absolute;
  content: ""; }

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s; }

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.contenedorLogScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("../img/vasos2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black; }

.btnOscuro {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #DEC9A1;
  background-color: rgba(239, 239, 239, 0.48);
  font-size: 20px;
  border: 2px solid #DEC9A1;
  width: 300px; }
  .btnOscuro:hover {
    color: white;
    background-color: #DEC9A1;
    border: 2px solid white; }

.logoLog {
  height: 30vh;
  margin-top: -5rem; }

.linkPass {
  color: white !important;
  text-decoration: none !important;
  margin-top: 2rem;
  cursor: pointer; }

.blanco {
  color: white !important;
  display: none;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-top: -6rem; }

#emailRecover {
  width: 300px;
  display: none; }

#btnCorreo {
  height: 2.7rem;
  width: 8rem;
  display: none; }

#newPassword {
  width: 350px; }

#newPassword2 {
  width: 350px; }

.blanquito {
  color: white !important; }

#btnNewPass {
  height: 2.7rem;
  width: 8rem; }

#barraLogScreen {
  background-color: transparent !important; }

.contenedorPromos {
  width: 100%;
  height: 100%;
  background-color: #212121; }

.zonaPromos {
  height: 100%;
  width: 100%;
  margin-bottom: 2rem; }

.divPromo {
  width: 100%; }

.promo {
  width: 100%;
  margin-bottom: 1rem; }

.divTitutlo {
  margin-top: -2.5rem;
  color: #DEC9A1; }

.dia {
  color: #DEC9A1; }

#lightbox {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(../img/overlay.png) repeat;
  text-align: center; }

#lightbox img {
  box-shadow: 0 0 25px #111;
  -webkit-box-shadow: 0 0 25px #111;
  -moz-box-shadow: 0 0 25px #111;
  max-width: 940px; }

.divEditar {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end; }

.fa-edit {
  color: #DEC9A1;
  font-size: 30px;
  cursor: pointer;
  margin-top: 3rem;
  margin-right: 2rem; }

#btnQRDescargar {
  display: none; }

#btnQRShare {
  display: none; }

.contenedorQr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.imgQr {
  height: 250px;
  padding-top: 25px;
  padding-bottom: 25px; }

hr {
  height: 2px;
  width: 90%; }

.flecQr {
  text-align: center;
  font-size: 12px; }

.borde {
  border-left: 1px solid #E5E5E5; }

.listaQr {
  text-align: left;
  font-size: 12px;
  padding: 0px 30px 0px 30px; }

.fa-angle-left {
  color: black;
  margin-left: -100px;
  font-size: 20px; }

.fa-angle-right {
  color: black;
  margin-left: 100px;
  font-size: 20px; }

.carousel-indicators li {
  background-color: black; }

.carousel-indicators .active {
  background-color: #DEC9A1; }

.btnDescargar {
  background-color: #DEC9A1;
  color: white;
  width: 250px; }

.btnShare {
  width: 80px;
  background-color: #DEC9A1; }

.fa-share {
  font-size: 25px !important; }

.zonaBtn {
  margin: 0px 5px 0px 5px; }

#listaInvitados {
  margin-left: -2rem; }

#contentQR {
  background-color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.contenedorRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; }

.btnRegistro {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: white;
  background-color: #DEC9A1;
  font-size: 20px;
  border: 2px solid white; }
  .btnRegistro:hover {
    color: white;
    background-color: black;
    border: 2px solid white; }

.zonaBtnRegistro {
  width: 100%;
  display: flex;
  justify-content: center; }

.colorcin {
  color: #212121 !important; }

.reservarBack {
  background-color: white;
  width: 100%;
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: white; }

.formReservar {
  margin: 0px 10px 0px 10px; }

.btnReservar {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: white;
  background-color: #DEC9A1;
  font-size: 20px;
  border: 2px solid white;
  width: 200px; }
  .btnReservar:hover {
    color: white;
    background-color: black;
    border: 2px solid white; }

.inputsClaros {
  border: 1px solid #212121;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

.negro {
  color: #707070; }

.dudas {
  position: fixed;
  top: 10px;
  right: 30px;
  color: #DEC9A1; }

.listaReservar {
  font-size: 12px; }

.zonaBtnReservar {
  width: 100%;
  display: flex;
  justify-content: center; }

.dudu {
  margin-left: 50vw; }

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
.reservarBack {
  margin-top: 10%; }

/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.contenedorSwipe {
  height: 100vh;
  width: 100vw; }

.navSwipe {
  height: 10vh;
  display: flex;
  align-items: center; }

.btnPuntos {
  background-color: transparent;
  color: white;
  font-size: 30px;
  right: 0;
  position: fixed;
  margin-right: 10px; }

.fas {
  color: white;
  font-size: 40px;
  margin-left: 10px; }

.fa-comments {
  margin-left: 20px; }

.iconos {
  width: 100%; }

.btnModal {
  background-color: #DEC9A1;
  color: white;
  -webkit-border-radius: 20px 0px 20px 20px;
  -moz-border-radius: 20px 0px 20px 20px;
  border-radius: 20px 0px 20px 20px;
  width: 100%; }

.dropdown-menu {
  background-color: #DEC9A1;
  -webkit-border-radius: 20px 0px 20px 20px;
  -moz-border-radius: 20px 0px 20px 20px;
  border-radius: 20px 0px 20px 20px; }

.btnBloquear {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: white;
  background-color: #DEC9A1;
  font-size: 20px;
  border: 2px solid white;
  width: 50%;
  margin-bottom: 20px; }
  .btnBloquear:hover {
    color: white;
    background-color: black;
    border: 2px solid white; }

.divSubmit {
  display: flex;
  justify-content: center; }

.labelBloquear {
  margin-left: 10px; }

.razon {
  border: 1px solid #212121;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

.elModal {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

input[type="checkbox"] {
  visibility: hidden; }

label {
  cursor: pointer; }

.checkBloquear + label:before {
  border: 1px solid #DEC9A1;
  content: " ";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 0.25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px; }

.checkBloquear:checked + label:before {
  background: #DEC9A1;
  color: white;
  content: "✓";
  text-align: center; }

.checkBloquear:checked + label:after {
  font-weight: bold; }

.checkBloquear:focus + label::before {
  outline: #3b99fc auto 5px; }

/*.imgSwipe
 * background-image: url("../img/rosas.jpg")
 * background-size: cover
 * background-repeat: no-repeat
 * background-position: center  
 * background-color: black
 * height: 80vh */
.imgSwipe {
  object-fit: cover !important;
  object-position: center center !important;
  width: 100vw !important;
  height: 80vh !important; }

.carouselSwipe {
  width: 100vw !important;
  height: 80vh !important; }

.divNombre {
  height: 10vh;
  background-color: rgba(33, 33, 33, 0.45);
  margin-top: -10vh;
  color: white; }

.modal-body {
  color: #212121; }

.bioSwipe {
  height: 20vh;
  background-color: rgba(33, 33, 33, 0.9); }

.descripcion {
  color: white;
  margin: 10px 20px 10px 20px; }

.barritaBtn {
  background-color: transparent;
  display: flex;
  position: absolute;
  justify-content: flex-end;
  width: 100%;
  margin-top: -5vh; }

.divBtnSwipe {
  width: 100%;
  height: 100%; }

.btnEleccion {
  height: 40px;
  width: 40px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; }

.fa-thumbs-up {
  font-size: 25px;
  margin-left: -2px; }

.fa-thumbs-down {
  font-size: 25px;
  margin-left: -2px; }

.avion {
  font-size: 25px;
  margin-left: -2px; }

#simon {
  background-color: #0043FF; }

#nelson {
  background-color: #B70647; }

#mensajeYA {
  background-color: #DEC9A1; }

.fondito {
  height: 100%;
  width: 100vw;
  background-color: #212121;
  color: white; }

#foto1 {
  height: 10rem;
  width: 10rem;
  object-fit: cover !important;
  object-position: center center !important;
  padding: 1rem; }

#foto2 {
  height: 10rem;
  width: 10rem;
  object-fit: cover !important;
  object-position: center center !important;
  padding: 1rem; }

#foto3 {
  height: 5rem;
  width: 5rem;
  object-fit: cover !important;
  object-position: center center !important; }

#foto4 {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  object-position: center center; }

#foto5 {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  object-position: center center; }

#fotoNasty1 {
  height: 10rem;
  width: 10rem;
  object-fit: cover !important;
  object-position: center center !important;
  padding: 1rem; }

#fotoNasty2 {
  height: 10rem;
  width: 10rem;
  object-fit: cover !important;
  object-position: center center !important;
  padding: 1rem; }

#fotoNasty3 {
  height: 5rem;
  width: 5rem;
  object-fit: cover !important;
  object-position: center center !important; }

#fotoNasty4 {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  object-position: center center; }

#fotoNasty5 {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  object-position: center center; }

.custom-file {
  background-color: yellow; }

.zonaCuadros {
  height: 20vh;
  width: 90vw; }

.flex1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.flexAbajo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; }

.hideInput {
  width: 0.1px !important;
  height: 0.1px !important;
  opacity: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  z-index: -3 !important; }

.formPerfil {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px; }

.divEts {
  display: none; }

.divNastyPics {
  display: none; }

.aparecer {
  display: block; }

.switch {
  font-size: 1rem;
  position: relative; }

.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0; }

.switch input + label {
  position: relative;
  min-width: calc(calc(2.375rem * .8) * 2);
  border-radius: calc(2.375rem * .8);
  height: calc(2.375rem * .8);
  line-height: calc(2.375rem * .8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem); }

.switch input + label::before,
.switch input + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(calc(2.375rem * .8) * 2);
  bottom: 0;
  display: block; }

.switch input + label::before {
  right: 0;
  background-color: #dee2e6;
  border-radius: calc(2.375rem * .8);
  transition: 0.2s all; }

.switch input + label::after {
  top: 2px;
  left: 2px;
  width: calc(calc(2.375rem * .8) - calc(2px * 2));
  height: calc(calc(2.375rem * .8) - calc(2px * 2));
  border-radius: 50%;
  background-color: white;
  transition: 0.2s all; }

.switch input:checked + label::before {
  background-color: green; }

.switch input:checked + label::after {
  margin-left: calc(2.375rem * .8); }

.switch input:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25); }

.switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed; }

.switch input:disabled + label::before {
  background-color: #e9ecef; }

.switch.switch-sm {
  font-size: 0.875rem; }

.switch.switch-sm input + label {
  min-width: calc(calc(1.9375rem * .8) * 2);
  height: calc(1.9375rem * .8);
  line-height: calc(1.9375rem * .8);
  text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem); }

.switch.switch-sm input + label::before {
  width: calc(calc(1.9375rem * .8) * 2); }

.switch.switch-sm input + label::after {
  width: calc(calc(1.9375rem * .8) - calc(2px * 2));
  height: calc(calc(1.9375rem * .8) - calc(2px * 2)); }

.switch.switch-sm input:checked + label::after {
  margin-left: calc(1.9375rem * .8); }

.switch.switch-sm2 {
  font-size: 0.875rem; }

.switch.switch-sm2 input + label {
  min-width: calc(calc(1.9375rem * .8) * 2);
  height: calc(1.9375rem * .8);
  line-height: calc(1.9375rem * .8);
  text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem); }

.switch.switch-sm2 input + label::before {
  width: calc(calc(1.9375rem * .8) * 2); }

.switch.switch-sm2 input + label::after {
  width: calc(calc(1.9375rem * .8) - calc(2px * 2));
  height: calc(calc(1.9375rem * .8) - calc(2px * 2)); }

.switch.switch-sm2 input:checked + label::after {
  margin-left: calc(1.9375rem * .8); }

.switch.switch-lg {
  font-size: 1.25rem; }

.switch.switch-lg input + label {
  min-width: calc(calc(3rem * .8) * 2);
  height: calc(3rem * .8);
  line-height: calc(3rem * .8);
  text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem); }

.switch.switch-lg input + label::before {
  width: calc(calc(3rem * .8) * 2); }

.switch.switch-lg input + label::after {
  width: calc(calc(3rem * .8) - calc(2px * 2));
  height: calc(calc(3rem * .8) - calc(2px * 2)); }

.switch.switch-lg input:checked + label::after {
  margin-left: calc(3rem * .8); }

.switch + .switch {
  margin-left: 1rem; }

.fullDiv {
  width: 100vw; }

.textito {
  font-size: 12px;
  text-align: center; }

.flexZone {
  width: 100%;
  display: flex;
  justify-content: center; }

.formularioLogin {
  margin: 0px 30px 0px 30px; }

.btnCambiar {
  width: 80%;
  margin-top: 10%; }

.zonaEscaner {
  height: 60vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center; }

.zonaAbajo {
  height: 40vh;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center; }

.fa-minus-circle {
  color: black; }

.btnsEscaner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh; }

.btnExtra {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: white;
  background-color: #DEC9A1;
  font-size: 15px !important;
  border: 2px solid white;
  width: 5rem;
  margin-left: 1.7rem; }
  .btnExtra:hover {
    color: #DEC9A1;
    background-color: white;
    border: 2px solid #DEC9A1; }

.scanner {
  width: 100%;
  height: 100%; }

.fa-lightbulb {
  margin-left: 1px; }

.navReservas {
  height: 10vh; }

.iconosReservas {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

#flechaReservas {
  color: #212121; }

.dorado {
  color: #DEC9A1; }

.zonaReservaciones {
  height: 100vh;
  width: 100vw; }

.moverAbajo {
  padding-top: 12vh; }

.cardReserva {
  border: 1px solid #212121;
  width: 15rem;
  height: 2.5rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 1rem; }

.miReserva {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.misInvitaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*# sourceMappingURL=app.css.map */
