.barra {
  background-color: #212121 !important;
  height: 100vh;
  min-width: 10%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; }

.linky {
  height: 100% !important;
  width: 100% !important;
  color: #DEC9A1 !important;
  font-size: 3rem; }

.linky:hover {
  transform: scale(2); }

.actived {
  transform: scale(2);
  background-color: #DEC9A1;
  color: #212121 !important; }

.activeMas {
  transform: scale(2.2);
  background-color: #DEC9A1;
  color: #212121 !important; }

.activeMenos {
  transform: scale(1.8);
  background-color: #DEC9A1;
  color: #212121 !important; }

.tooltip-dorado {
  --balloon-color: #DEC9A1;
  --balloon-font-size: 20px; }

.rps {
  background-color: #E1E1E1;
  height: 100vh; }

.zonaAparece {
  height: 100vh; }

.zonaRps {
  height: 100vh; }

.barraSearch {
  margin-top: 2rem !important;
  padding: 0rem 10rem 0rem 10rem !important; }

.busquedaRp {
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important; }

.card-img {
  object-fit: cover !important;
  object-position: center center !important;
  height: 9rem;
  margin-top: -1px;
  margin-left: -1px; }

.flexRps {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3rem; }

.cardRp {
  min-width: 30% !important;
  margin-left: 2rem; }

.dorado {
  color: #DEC9A1; }

.linkity {
  text-decoration: none !important;
  color: #DEC9A1 !important; }

.cardReservTotales2 {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: 2rem;
  width: 36vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DEC9A1; }

.zonaReservaciones2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row; }

.container-fluid {
  position: fixed;
  top: 0;
  right: 0;
  width: 90%; }

.dashboard {
  background-color: #E1E1E1; }

.cardNegra {
  background-color: #212121;
  color: #DEC9A1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  height: 9rem;
  width: 100%;
  margin-top: 2rem; }

.cardBlanca {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #DEC9A1;
  height: 9rem;
  width: 100%;
  margin-top: 2rem; }

.DashIzquierda {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.scrollIzquierda {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem 2rem 2rem; }

.DashDerecha {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.scrollDerecha {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem 2rem 2rem; }

.numerosReserv {
  font-weight: 700;
  margin-top: -4.5rem; }

.tituloReserv {
  font-size: 40px; }

.loader,
.loader:before,
.loader:after {
  border-radius: 50%; }

.loader {
  color: #DEC9A1;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.loader:before,
.loader:after {
  position: absolute;
  content: ""; }

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #E1E1E1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s; }

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #E1E1E1;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.tituloRPD {
  font-size: 26px; }

.totalPersonas {
  font-size: 23px;
  font-weight: 700; }

#custom {
  background-color: white !important; }

#custom:after {
  background-color: white !important; }

#custom:before {
  background-color: white !important; }

.reservaciones {
  background-color: #E1E1E1;
  height: 100%; }

.cardReservTotales {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: 2rem;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DEC9A1; }

.zonaReservaciones {
  display: flex;
  justify-content: center;
  align-items: center; }

.cardTableReserv {
  background-color: white;
  width: 80vw;
  height: 75vh;
  padding-bottom: 3rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: -8rem; }

.configuracion {
  background-color: #E1E1E1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem; }

.zonaScroll {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column; }

.newStaff {
  width: 60vw;
  display: flex;
  flex-direction: column; }

.zonaCuadro {
  background-color: white;
  width: 80vw;
  height: 90vh;
  display: flex;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  align-items: center;
  flex-direction: column; }

.navConfiguracion {
  width: 90%;
  margin-top: 2rem; }

#nav-home-tab {
  color: #212121; }

#nav-home-tab:focus {
  background-color: #212121;
  color: #DEC9A1; }

#nav-profile-tab {
  color: #212121; }

#nav-profile-tab:focus {
  background-color: #212121;
  color: #DEC9A1; }

#nav-eventos-tab {
  color: #212121; }

#nav-eventos-tab:focus {
  background-color: #212121;
  color: #DEC9A1; }

#nav-diseno-tab {
  color: #212121; }

#nav-diseno-tab:focus {
  background-color: #212121;
  color: #DEC9A1; }

#nav-contact-tab {
  color: #212121; }

#nav-contact-tab:focus {
  background-color: #212121;
  color: #DEC9A1; }

.hideInput {
  width: 0.1px !important;
  height: 0.1px !important;
  opacity: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  z-index: -3 !important; }

#foto1 {
  height: 10rem;
  width: 10rem;
  object-fit: cover !important;
  object-position: center center !important;
  padding: 1rem;
  cursor: pointer; }

#foto2 {
  height: 10rem;
  width: 10rem;
  object-fit: cover !important;
  object-position: center center !important;
  padding: 1rem;
  cursor: pointer; }

#fotoHorizontal {
  height: 10rem;
  width: 10rem;
  object-fit: cover !important;
  object-position: center center !important;
  padding: 1rem;
  cursor: pointer; }

#fotoVertical {
  height: 10rem;
  width: 10rem;
  object-fit: cover !important;
  object-position: center center !important;
  padding: 1rem;
  cursor: pointer; }

#fotoVideoPrincipal {
  height: 10rem;
  width: 10rem;
  object-fit: cover !important;
  object-position: center center !important;
  padding: 1rem;
  cursor: pointer; }

#fotoZonaIzq {
  height: 10rem;
  width: 10rem;
  object-fit: cover !important;
  object-position: center center !important;
  padding: 1rem;
  cursor: pointer; }

#fotoZonaDer {
  height: 10rem;
  width: 10rem;
  object-fit: cover !important;
  object-position: center center !important;
  padding: 1rem;
  cursor: pointer; }

.divImgPerf {
  width: 100%;
  display: flex;
  justify-content: center; }

.btnRegistro {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: white;
  background-color: #DEC9A1;
  font-size: 20px;
  border: 2px solid white; }
  .btnRegistro:hover {
    color: white;
    background-color: black;
    border: 2px solid white; }

.zonaBtnRegistro {
  width: 100%;
  display: flex;
  justify-content: center; }

.colorcin {
  color: #212121 !important; }

.zonaRps2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.znBtns {
  display: flex;
  flex-direction: column; }

.editar {
  flex: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.eliminar {
  flex: 1;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.eventoPromo {
  width: 60vw;
  display: flex;
  flex-direction: column; }

.divVerPublicaciones {
  width: 60vw;
  display: flex;
  flex-direction: column;
  display: none; }

#btnCrearPub {
  margin-right: 2rem !important; }

.cardPublicacion {
  height: 3rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #212121;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem 1rem 0rem 1rem;
  justify-content: space-between; }

.juntitos {
  width: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer; }

.red {
  color: red !important; }

.cardDiseno {
  width: 70vw;
  margin-top: 2rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #212121;
  padding: 0rem 0.9rem 0rem 0.9rem; }

.rowVideo {
  width: 70vw;
  margin-left: -1rem;
  border: 1px solid #212121;
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px; }

.editarZonaDerecha {
  border: 1px solid #212121;
  -webkit-border-radius: 0px 0px 15px 0px;
  -moz-border-radius: 0px 0px 15px 0px;
  border-radius: 0px 0px 15px 0px;
  width: 35vw; }

.editarZonaIzquierda {
  border: 1px solid #212121;
  -webkit-border-radius: 0px 0px 0px 15px;
  -moz-border-radius: 0px 0px 0px 15px;
  border-radius: 0px 0px 0px 15px;
  width: 35vw; }

#btnCerrarSesion {
  background-color: red !important;
  margin-top: 5rem; }

.tituloConfCard {
  font-size: 25px; }

.numCardConf {
  font-weight: 700;
  font-size: 20px; }

.numCardConf2 {
  font-weight: 700;
  font-size: 18px; }

.barra {
  background-color: #212121 !important;
  height: 100vh;
  min-width: 10%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; }

.linky {
  height: 100% !important;
  width: 100% !important;
  color: #DEC9A1 !important;
  font-size: 3rem; }

.linky:hover {
  transform: scale(2); }

.actived {
  transform: scale(2);
  background-color: #DEC9A1;
  color: #212121 !important; }

.activeMas {
  transform: scale(2.2);
  background-color: #DEC9A1;
  color: #212121 !important; }

.activeMenos {
  transform: scale(1.8);
  background-color: #DEC9A1;
  color: #212121 !important; }

.tooltip-dorado {
  --balloon-color: #DEC9A1;
  --balloon-font-size: 20px; }

.usuarios {
  background-color: #E1E1E1;
  height: 100vh; }

.headTabla {
  background-color: #DEC9A1 !important;
  color: white !important; }

.divTabla {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; }

.cardTable {
  background-color: white;
  width: 80vw;
  height: 85vh;
  padding-bottom: 3rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

.searchUsuarios {
  position: fixed;
  height: 4rem;
  background-color: white;
  width: 80%;
  padding: 1rem 5rem 1rem 5rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

.tablaUsuarios {
  margin-top: 5rem;
  width: 80%; }

.flexTable {
  display: flex;
  justify-content: center;
  align-items: center; }

/*# sourceMappingURL=app.css.map */
